/* my header */
.header {
  background-color: #F1F1F1;
  text-align: center;
  padding: 20px;
}

.rules,
.game {
  text-align: center;
  justify-content: center;
}

ul.normal {
  list-style: none;
}

/* The navbar container */
.topnav {
  overflow: hidden;
  background-color: #333;
}

/* Navbar links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Links - change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

p {
  border: 2px solid rebeccapurple;
  padding: .5em;
}

#rock,
#paper,
#scissors {
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #0b7ca9;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

#rock:hover,
#paper:hover,
#scissors:hover {
  background-color: #99b7c2
}

#rock:active,
#paper:active,
#scissors:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.body {
  max-width: 500px;
  margin: auto;
  text-align: center;
}

h2,
p {
  text-align: center;
}

#buttons {
  display: inline-block;
  margin-right: 10px;
  width: 100%;
  height: auto;
}

.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
}